<form>
    <div class="container mt-3  ">
     <div class="card">
       <div class="card-header d-flex justify-content-between align-items-center">
         <h1>Birthday List</h1>
         <button class="btn btn-success btn-lg btn-block mt-3">Search</button>

       </div>
       <div class="card-body">
   <div class="row">
    <div class="col-md-3">
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="type" id="associate" value="2">
          <label class="form-check-label" for="associate"><h5> Associate </h5></label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="type" id="customer" value="1">
            <label class="form-check-label" for="customer"><h5> Customer </h5></label>
          </div>
      </div>
      

   </div>
 </div>
 </div>
</div>
</form>


<div class="container-fluid mt-3">
 <div class="card-header d-flex justify-content-between align-items-center" style="background-color: #C0C0C0;">
   <h1>List</h1>
 </div>

 <div class="body mt-4">
   <div class="row">
     <div class="col-md-4">
       <form class="form-inline">
         <div class="form-group">
           <input type="text" class="form-control" placeholder="Search">
         </div>
       </form>
     </div>
    
     <div class="col-md-4">
       <div class="d-flex justify-content-center align-items-center">
         <label for="show" class="px-3 py-2">Select Entries:</label>
         <select class="custom-select mr-sm-2" id="show" name="show">
           <option value="10">10</option>
           <option value="30">30</option>
           <option value="50">50</option>
           <option value="70">70</option>
           <option value="100">100</option>
         </select>
       </div>
     </div>
     <div class="col-md-4">
       <div class="btn-group justify-content-end align-items-end">
         <button class="btn btn-outline-success">PDF</button>
         <button class="btn btn-outline-success">EXCEL</button>
         <button class="btn btn-outline-success">Export</button>
         <button class="btn btn-outline-success">Delete All</button>
       </div>  
     </div>
     
     
   </div>
 </div>
 
 
   <table class="table table-bordered mt-3">
     <thead>
       <tr>
         <th scope="col">Action</th>
         <th scope="col">DOB</th>
         <th scope="col">Register Date</th>
         <th scope="col">Father Name</th>
         <th scope="col">Mobile No.</th>
         <th scope="col">WhatsApp No.</th>
         <th scope="col">Address</th>
         <th scope="col">Email Id</th>


       </tr>
     </thead>
     <tbody>
       <tr>
        <td>Update <br><span>Delete</span><br><span>Edit</span></td>
         <td>14-02-2004</td>
         <td>14-02-2024</td>
         <td>Father's Name</td>
         <td>789456322</td>
         <td>789456322</td>
         <td>Hyderabad</td>
         <td>email@gmail.com</td>


       </tr>
       <tr>
        <td>Update <br><span>Delete</span><br><span>Edit</span></td>
        <td>14-02-2004</td>
        <td>14-02-2024</td>
        <td>Father's Name</td>
        <td>789456322</td>
        <td>789456322</td>
        <td>Hyderabad</td>
        <td>email@gmail.com</td>


      </tr> <tr>
        <td>Update <br><span>Delete</span><br><span>Edit</span></td>
        <td>14-02-2004</td>
        <td>14-02-2024</td>
        <td>Father's Name</td>
        <td>789456322</td>
        <td>789456322</td>
        <td>Hyderabad</td>
        <td>email@gmail.com</td>


      </tr> <tr>
        <td>Update <br><span>Delete</span><br><span>Edit</span></td>
        <td>14-02-2004</td>
        <td>14-02-2024</td>
        <td>Father's Name</td>
        <td>789456322</td>
        <td>789456322</td>
        <td>Hyderabad</td>
        <td>email@gmail.com</td>


      </tr> <tr>
        <td>Update <br><span>Delete</span><br><span>Edit</span></td>
        <td>14-02-2004</td>
        <td>14-02-2024</td>
        <td>Father's Name</td>
        <td>789456322</td>
        <td>789456322</td>
        <td>Hyderabad</td>
        <td>email@gmail.com</td>


      </tr> <tr>
        <td>Update <br><span>Delete</span><br><span>Edit</span></td>
        <td>14-02-2004</td>
        <td>14-02-2024</td>
        <td>Father's Name</td>
        <td>789456322</td>
        <td>789456322</td>
        <td>Hyderabad</td>
        <td>email@gmail.com</td>


      </tr> <tr>
        <td>Update <br><span>Delete</span><br><span>Edit</span></td>
        <td>14-02-2004</td>
        <td>14-02-2024</td>
        <td>Father's Name</td>
        <td>789456322</td>
        <td>789456322</td>
        <td>Hyderabad</td>
        <td>email@gmail.com</td>


      </tr> <tr>
        <td>Update <br><span>Delete</span><br><span>Edit</span></td>
        <td>14-02-2004</td>
         <td>14-02-2024</td>
         <td>Father's Name</td>
         <td>789456322</td>
         <td>789456322</td>
         <td>Hyderabad</td>
         <td>email@gmail.com</td>


       </tr>
     </tbody>

   </table>
 </div>