<div class="container-fluid">
    <div class="card">
      <div class="card-header" style="text-align: center; font-weight: bold; font-size: 48px;">
        CRM – Privacy Policy
    </div>
      <div class="card-body" style="font-size: 18px; font-weight: 500;">
        <p>We at CRM understand that your privacy is important to you and that you care about how your personal data is used and shared online. We respect and value the privacy of everyone who visits our website, will only collect and use personal data in ways that are described here, and in a manner that is consistent with our obligations and your rights under the law.
        </p>
        <p>
            Please read this Privacy Policy carefully and ensure that you understand it. You will be deemed to have accepted our Privacy Policy when you first use our Site. If you do not accept and agree with this Privacy Policy, you must stop using our Site immediately.
        </p>
        <div>
        <h2>1.Definitions and Interpretation</h2>
        <p>In this Policy, the following terms shall have the following meanings:</p>
        <ul>
            <li><strong>Cookie:</strong> means a small text file placed on your computer or device by our Site when you visit certain parts of our Site and/or when you use certain features of our Site. Details of the Cookies used by our Site are set out in section 12, below;</li>
            <li><strong>Personal data:</strong> means any and all data that relates to an identifiable person who can be directly or indirectly identified from that data. In this case, it means personal data that you give to us when you use our Site. This definition shall, where applicable, incorporate the definitions provided in the General Data Protection Regulation 2016/679 ("GDPR")</li>
            <li><strong>We/Us/Our:</strong> means CRM Ltd, a company registered in England and Wales.</li>
        </ul>
    </div>
    <div>
    <h2>2.What Does This Policy Cover?</h2>
<p>This Privacy Policy applies only to your use of our Site. Our Site may contain links to other websites. Please note that we have no control over how your data is collected, stored, or used by other websites and we advise you to check the privacy policies of any such websites before providing any data to them.
</p>
</div>
        <div>
            <h3>3.Your Rights</h3>
            <ul style="list-style-type: circle; padding-left: 20px;">
                <li style="margin-bottom: 10px;">The right to be informed about our collection and use of personal data;</li>
                <li style="margin-bottom: 10px;">The right of access to the personal data we hold about you (see section 11);</li>
                <li style="margin-bottom: 10px;">The right to rectification if any personal data we hold about you is inaccurate or incomplete (please contact us using the details in section 13);</li>
                <li style="margin-bottom: 10px;">The right to be forgotten – i.e. the right to ask us to delete any personal data we hold about you (we only hold your personal data for a limited time, as explained in section 5 but if you would like us to delete it sooner, please contact us using the details in section 13);</li>
                <li style="margin-bottom: 10px;">The right to restrict (i.e. prevent) the processing of your personal data;</li>
                <li style="margin-bottom: 10px;">The right to data portability (obtaining a copy of your personal data to re-use with another service or organization);</li>
                <li style="margin-bottom: 10px;">The right to object to us using your personal data for particular purposes;</li>
                <li>The right to object to us using your personal data for particular purposes;</li>
            </ul>
        </div>

        <div>
            <h2>4.What Data Do We Collect?</h2>
            <ul style="list-style-type: circle; padding-left: 20px;">
                <li style="margin-bottom: 10px;">Name;</li>
                <li style="margin-bottom: 10px;">Company Name; </li>
                <li style="margin-bottom: 10px;">Company address;</li>
                <li style="margin-bottom: 10px;">Contact information such as email addresses and telephone numbers;</li>
                <li style="margin-bottom: 10px;">IP address;</li>
                <li style="margin-bottom: 10px;">Web browser type and version;</li>
                <li style="margin-bottom: 10px;">Operating system;</li>
                <li style="margin-bottom: 10px;">Any other personal data you provide to us (for example, if you upload data to our Route Network software as a client of ours).</li>
            </ul>
        </div>

        <div>
            <h2>5.How Do We Use Your Data?</h2>
            <ul style="list-style-type: circle; padding-left: 20px;">
                <li style="margin-bottom: 10px;">All personal data is processed and stored securely, for no longer than is necessary in light of the reason(s) for which it was first collected. We will comply with our obligations and safeguard your rights under the GDPR at all times. For more details on security see section 6, below.
                </li>
                <li style="margin-bottom: 10px;">We will only retain your personal data for as long as necessary to fulfill the purposes we collected it for, including for the purposes of satisfying any legal, accounting, or reporting requirements.
                </li>
                <li style="margin-bottom: 10px;">When deciding what the correct time is to keep the data for we look at its amount, nature and sensitivity, potential risk of harm from unauthorized use or disclosure, the processing purposes, if these can be achieved by other means and legal requirements.
                </li>
                <li style="margin-bottom: 10px;">In some circumstances we may anonymous your personal data for research or statistical purposes in which case we may use this information indefinitely without further notice to you.
                </li>
                <li style="margin-bottom: 10px;">Our use of your personal data will always have a lawful basis, either because it is necessary for our performance of a contract with you, because you have consented to our use of your personal data (e.g. by subscribing to emails), or because it is in our legitimate interests. Specifically, we may use your data for the following purposes:
                </li>
                <li style="margin-bottom: 10px;">Providing and managing your access to our Site;
                </li>
                <li style="margin-bottom: 10px;">Personalizing and tailoring your experience on our Site;
                </li>
                <li style="margin-bottom: 10px;">Supplying our services to you (please note that we require your personal data in order to enter into a contract with you);
                </li>
                <li style="margin-bottom: 10px;">Replying to emails from you;
                </li>
                <li style="margin-bottom: 10px;">Responding to enquiries;
                </li>
                <li style="margin-bottom: 10px;">Supplying you with emails that you have opted into (you may unsubscribe using the link at the bottom of each email or you may opt-out at any time by emailing us directly);
                </li>
                <li style="margin-bottom: 10px;">Analyzing your use of our Site to enable us to continually improve our Site and your user experience.
                </li>
                <li style="margin-bottom: 10px;">With your permission and/or where permitted by law, we may also use your data for marketing purposes which may include contacting you by email with information, news and offers on our services. We will not, however, send you any unsolicited marketing or spam and will take all reasonable steps to ensure that we fully protect your rights and comply with our obligations under GDPR and the Privacy and Electronic Communications (EC Directive) Regulations 2003.
                </li>
                <li style="margin-bottom: 10px;">Third parties whose content appears on our Site may use third party Cookies, as detailed below in section 12. Please refer to section 12 for more information on controlling Cookies. Please note that we do not control the activities of such third parties, nor the data they collect and use, and we advise you to check the privacy policies of any such third parties.
                </li>
                <li style="margin-bottom: 10px;">You have the right to opt-out or unsubscribe at any time.
                </li>
            </ul>
        </div>
        <div>
            <h2>6.How Do We Store Your Data?
            </h2>
            <ul style="list-style-type: circle; padding-left: 20px;">
                <li style="margin-bottom: 10px;">Data security is very important to us and to protect your data, we have taken suitable measures to safeguard and secure data collected through our site.
                </li>
                <li style="margin-bottom: 10px;">We only keep your personal data for as long as we need to in order to use it as described above in clause 6, and/or for as long as we have your permission to keep it.
                </li>
            </ul>
        </div>
        <div>
            <h2>7.What Happens If Our Business Changes Hands?
            </h2>
            <ul style="list-style-type: circle; padding-left: 20px;">
                <li style="margin-bottom: 10px;"> We may, from time to time, expand or reduce our business and this may involve the sale and/or the transfer of control of all or part of our business. Any personal data that you have provided will, where it is relevant to any part of our business that is being transferred, be transferred along with that part and the new owner or newly controlling party will, under the terms of this Privacy Policy, be permitted to use that data only for the same purposes for which it was originally collected by us.
                </li>
                <li style="margin-bottom: 10px;">In the event that any of your data is to be transferred in such a manner, you will not be contacted in advance and informed of the changes.
                </li>
            </ul>
        </div>

        <div>
            <h2>8.How Can You Control Your Data?
            </h2>
            <ul style="list-style-type: circle; padding-left: 20px;">
                <li style="margin-bottom: 10px;"> In addition to your rights under the GDPR, set out in section 3, when you submit personal data to us via email or via our Site, you may be given options to restrict our use of your data. In particular, we aim to give you strong controls on our use of your data for direct marketing purposes (including the ability to opt-out of receiving emails from us which you may do by unsubscribing using the links provided in our emails, at the point of providing your details and by contacting us).
                </li>
                <li style="margin-bottom: 10px;">You may also wish to sign up to one or more of the preference services operating in the UK: The Telephone Preference Service ("the TPS"), the Corporate Telephone Preference Service ("the CTPS"), and the Mailing Preference Service ("the MPS"). These may help to prevent you receiving unsolicited marketing. Please note, however, that these services will not prevent you from receiving marketing communications that you have consented to receiving.
                </li>
            </ul>
        </div>

        <div>
            <h2>9.Your Right to Withhold Information
            </h2>
            <ul style="list-style-type: circle; padding-left: 20px;">
                <li style="margin-bottom: 10px;"> You may access certain areas of our Site without providing any data at all. However, to use all features and functions available on our Site you may be required to submit or allow for the collection of certain data.
                </li>
                <li style="margin-bottom: 10px;"> You may restrict our use of Cookies. You can choose to enable or disable Cookies in your internet browser. Most internet browsers also enable you to choose whether you wish to disable all cookies or only third party Cookies. By default, most internet browsers accept Cookies but this can be changed. For further details, please consult the help menu in your internet browser or the documentation that came with your device.
                </li>
            </ul>
        </div>

        <div>
            <h2>10.How Can You Access Your Data?
            </h2>
           <p>You have the right to ask for a copy of any of your personal data held by us (where such data is held). Please contact us for more details using the contact details below in section 13.

               </p>
        </div>
        <div>
            <h2>11.Our Use of Cookies
            </h2>
            <ul style="list-style-type: circle; padding-left: 20px;">
                <li style="margin-bottom: 10px;">We use cookies, web beacons and similar technology to help you navigate the Services, to allow us to learn how you use the Services, and to improve the Services. Cookies are text files we place in your computer’s browser to store your preferences. Cookies, by themselves, do not reveal any Personal Information unless you choose to provide this information to us by, for example, registering at our Site. However, once you choose to provide Personal Information to the Services, this information may be linked to the data stored in the cookie. If you decide not to permit cookies on your computer, this may affect your ability to use the Services.
                </li>
                <li style="margin-bottom: 10px;"> You can set your browser to refuse all or some browser cookies, or to alert you when websites set or access cookies. If you disable or refuse cookies, please note that some parts of this website may become inaccessible or not function properly.
                </li>
            </ul>
        </div>



    </div>
  </div>
</div>