<form>
    <div class="container mt-3  ">
     <div class="card">
       <div class="card-header d-flex justify-content-between align-items-center">
         <h1>Payment</h1>
         <button class="btn btn-success btn-lg btn-block mt-3">Search</button>

       </div>
       <div class="card-body">
   <div class="row">

  
   </div>
 </div>
 </div>
</div>
</form>


<div class="container-fluid mt-3">
 <div class="card-header d-flex justify-content-between align-items-center" style="background-color: #C0C0C0;">
   <h1>List</h1>
   <div class="btn">
     <button class="btn btn-outline-success mx-2" [routerLink]="['/Admin', 'AdminCustomer', 'Add']" >ADD</button>
     <button class="btn btn-outline-success mx-2">Import</button>
     <button class="btn btn-outline-success mx-2">Export</button>
   </div>
 </div>


 <div class="table-scrollable">
   <table class="table table-bordered mt-3">
     <thead>
       <tr>
         <th scope="col">Action</th>
         <th scope="col">Booking Date</th>
         <th scope="col">Unit Type</th>
         <th scope="col">Project</th>
         <th scope="col">unit Details</th>
         <th scope="col">Unit Size</th>
         <th scope="col">Associate Name</th>
         <th scope="col">Associate Contact Number</th>
         <th scope="col">Customer Name</th>
         <th scope="col">Customer Contact Number</th>
         <th scope="col">Payment Plan</th>
         <th scope="col">Total Amount</th>
         <th scope="col">Guideline Value</th>
         <th scope="col">Guideline Received</th>
         <th scope="col">Guideline Due</th>
         <th scope="col">Other Value</th>
         <th scope="col">Other Recevied</th>
         <th scope="col">Other Due</th>
         <th scope="col">Recevied Amt.</th>
         <th scope="col">Due Amt.</th>
         <th scope="col">Remark</th>
       </tr>
     </thead>
     <tbody>
       
     </tbody>

   </table>
 </div>
 </div>