<h2 class="px-3">Loan Progress</h2>
<form>
    <div class="container mt-3  ">
     <div class="card">
       <div class="card-header d-flex justify-content-between align-items-center">
         <h1>Search Panel</h1>
         <button class="btn btn-success btn-lg btn-block mt-3">Search</button>

       </div>
       <div class="card-body">
   <div class="row">

   </div>
 </div>
 </div>
</div>
</form>



<div class="container-fluid mt-3">
    <div class="card-header d-flex justify-content-between align-items-center" style="background-color: #C0C0C0;">
      <h1>Loan Progress</h1>
      <div class="btn">
        <button class="btn btn-outline-success mx-1" [routerLink]="['/Admin', 'AdminSiteVisit', 'AddSiteVisit']">Add</button>
        <button class="btn btn-outline-success mx-1">Import</button>
        <button class="btn btn-outline-success mx-1">Export</button>
      </div>
    </div>
  
 
    
    <div class="table-scrollable">
      <table class="table table-bordered mt-3">
        <thead>
          <tr>
            <th scope="col">Action</th>
            <th scope="col">Project</th>
            <th scope="col">Unit Type</th>
            <th scope="col">Unit Details</th>
            <th scope="col">Unit Size</th>
            <th scope="col">Amount</th>
            <th scope="col">Booking Date	</th>
            <th scope="col">Customer Name</th>
            <th scope="col">Mobile Number</th>
            <th scope="col">Seller Name</th>
            <th scope="col">Mode</th>
            <th scope="col">Bank</th>
            <th scope="col">Banker</th>
            <th scope="col">Banker Number</th>
            <th scope="col">Loan Progress Type</th>
            <th scope="col">Loan Progress Status</th>
            <th scope="col">Loan (%)</th>
            <th scope="col">Loan Progress Description</th>
            <th scope="col">Paper Tyep</th>
            <th scope="col">Paper Status</th>
            <th scope="col">Paper(%)</th>
            <th scope="col">Paper Description</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Update delete edit</td>
            <td>14-02-2024</td>
            <td>Name:  <br><span>D.O.B:</span><br><span>Father Name:</span></td>
            <td>Hyderabad</td>
            <td>Update delete edit</td>
            <td>14-02-2024</td>
            <td>Name:  <br><span>D.O.B:</span><br><span>Father Name:</span></td>
            <td>Hyderabad</td>
            <td>Hyderabad</td>
            <td>Hyderabad</td>
            <td>Hyderabad</td>
            <td>Hyderabad</td>
            <td>Hyderabad</td>
            <td>Hyderabad</td>
            <td>Hyderabad</td>
            <td>Hyderabad</td>
            <td>Hyderabad</td>
            <td>Hyderabad</td>
            <td>Hyderabad</td>
            <td>Hyderabad</td>
            <td>Hyderabad</td>
            <td>Hyderabad</td>
         


          </tr>
          
        </tbody>
  
      </table>
    </div>
    </div>
  